<div class="container-fluid main-post-listing-container">
    <div class="row">
      <% site.posts.sort('date',-1).each(function (post) { %>
        <%- partial('_partial/list-view', { post: post}) %>
      <% }) %>
    </div>
  </div>