<% if (page.headerimg) { %>
    <div class="row">
        <div class="col  text-center">
            <img class="img-fluid psc-img-fluid" src="<%- page.headerimg %>">
        </div>
    </div>
<% } %>
<% if (page.header) { %>
    <div class="row psc-ff">
        <div class="col">
            <h1><%- page.header %></h1>
        </div>
    </div>
<% } %>
<div class="row">
    <div class="col-7">
        <%- page.content %>
    </div>
    <div class="col-5">
        <img src="/assets/watching_hero.png" style="width:100%;"/>
    </div>
</div>
<% if (page.downloadlink) { %>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a class="btn btn-primary" href="<%- url_for(page.downloadlink) %>" target="_blank" role="button" download><i class="bi bi-cloud-arrow-down"></i> &nbsp; Download</a>
        </div>
    </div>
<% } %>