.psc-navbar-background {
    background: #c20000;
}
.psc-navbar-brand {
    font-size: 30px !important;
    font-weight: bold;
}
.psc-nav-link {
    font-weight: bold;
}
.psc-navbar-brand-logo {
    max-width: 100px;
}
@media (max-width:400px){
    .main-post-listing-container {
        padding-top:20px;
    }
    .psc-hero-text-lg {
        font-size: 50px;
        font-weight: bold;
    }
}
@media (min-width:400px){
    .main-post-listing-container {
        padding-top:30px;
    }
    .psc-hero-text-lg {
        font-size: 100px;
        font-weight: bold;
    }
}
.article-list {
    list-style-type: none;
}
.psc-img-fluid {
    max-width: 50%;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #c20000 !important;
    color: white !important;
    border-color: #c20000 !important;
}

.btn-primary:hover {
    background-color: #9B0000 !important;
    border-color: #9B0000 !important;
}

.psc-ff {
    font-family: 'Futura';
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
